name: Builder

env:
  BUILD_ARGS: "--test"
  MONITORED_FILES: "hacollector"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  init:
    runs-on: ubuntu-latest
    name: Initialize builds
    outputs:
      changed_addons: ${{ steps.changed_addons.outputs.addons }}
      changed_files: ${{ steps.changed_addons.outputs.files }}
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed_addons
        uses: home-assistant/actions/helpers/changed_files@master
        with:
          files: ${{ env.MONITORED_FILES }}

  build:
    needs: init
    runs-on: ubuntu-latest
    if: needs.init.outputs.changed_addons != '[]'
    name: Build ${{ matrix.arch }} ${{ matrix.addon }}
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        addon: ${{ fromJson(needs.init.outputs.changed_addons) }}
        arch: [aarch64, amd64, armhf, armv7]

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.0.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build ${{ matrix.addon }} add-on
        uses: home-assistant/builder@master
        with:
          args: |
            ${{ env.BUILD_ARGS }} \
            --${{ matrix.arch }} \
            --target ${{ matrix.addon }} \
            --image "${{ matrix.addon }}/{arch}" \
            --docker-hub "ghcr.io/${{ github.repository_owner }}" \
            --addon
